@model AñadeAddenda.Models.dtoCapturasManuales
@{
    ViewBag.Title = "CapturasManuales";
}

<h2>CapturasManuales</h2>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @if (Model.Lista.Count >0)
            {
                foreach (AñadeAddenda.Models.dtoCapturasManuales dto in Model.Lista)
                {
                    <div class="col-md-12">
                        <div class="row">
                            <label for="campo">@ViewBag.TIPO : @ViewBag.NOMBRE @Session["NOMBRE"]</label>
                            <input type="text" class="form-control" id="campo" placeholder="introduce el valor">

                            @*@Html.LabelFor(model => model.Tipo)
                            @Html.TextBoxFor(model => model.Valor, new { @class = "form-control", @id = "txtValor" })*@
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
